In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
data = pd.read_csv("us-vehicle-fuel-economy-data-1984-2017.csv", sep=';')
columns = [
    'make', 'model', 'year', 'mpgData', 'UHighway', 'UCity', 
    'barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
    'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
    'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
    'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
    'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
    'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
    'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'VClass',
    'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
    'phevBlended', 'pv2', 'pv4', 'range',
    'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany',
    'UCityA', 'UHighwayA', 'youSaveSpend', 'guzzler',
    'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
    'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
    'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
    'phevComb'
]
data = data[columns]
data.head()

,make,model,year,mpgData,UHighway,UCity,barrels08,barrelsA08,charge120,charge240,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,Volkswagen,Jetta III,1993,N,36.0000,23.0000,15.695714,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,2013-01-01,2013-01-01,NaN,0,0,0
1,Buick,Century,1993,Y,33.0000,21.1111,17.347895,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,2013-01-01,2013-01-01,NaN,0,0,0
2,BMW,740i,1993,N,28.0000,17.7778,20.600625,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,2013-01-01,2013-01-01,NaN,0,0,0
3,Dodge,Dynasty,1993,N,33.3333,22.0000,16.480500,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,2013-01-01,2013-01-01,NaN,0,0,0
4,Buick,Regal,1993,Y,36.0000,21.0000,16.480500,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,2013-01-01,2013-01-01,NaN,0,0,0